<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<security>
      	    <authentication>
        	<windowsAuthentication enabled="true" >
                </windowsAuthentication>
      	    </authentication>
    	</security>
        <defaultDocument>
            <files>
                <add value="allowlist.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web>
</configuration>